.home-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.button-container {
  display: flex;
  gap: 2vw;
}

.logo {
  height: 50%;
}

.logo:active {
  animation: logo-wiggle infinite ease-out forwards;
}

h1 {
  font-size: 5vw
}

@keyframes logo-wiggle {
  0%, 100% { transform: rotate(20deg); }
}
