.paddle {
    height: 20vh;
    width: 1.2vw;
    background-color: var(--color);
    position: absolute;
    top: 0;
    outline: none;
}

.player-paddle {
    left: 10%;
}

.computer-paddle {
    right: 10%;
}